In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

In [ ]:
from urllib.request import urlopen as uReq
import requests
import lxml.html as lh
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup

In [ ]:
my_url = 'https://www.imdb.com/search/title/?groups=top_1000&groups=oscar_nominee'
response = requests.get(my_url)
soup = soup(response.text,'lxml')

In [ ]:
uClient = uReq(my_url)
pagehtml = uClient.read()
uClient.close()
s = soup(pagehtml,'html.parser')
lists_div =  s.find_all("div", {"class": "lister-item"})
print(len(lists_div)) # There should only be one div in this list of divs
films_div = lists_div[0]

In [3]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
from random import randint

#More advanced libraries
from time import sleep
from time import time
from IPython.core.display import clear_output
from warnings import warn

url = 'https://www.imdb.com/search/title/?groups=top_1000&groups=oscar_nominee'
response = get(url)

soup = BeautifulSoup(response.text, 'lxml')

#data lists to append

names           = []
years           = []
imdb_ratings    = []
metascores      = []
votes           = []

#preparing the monitoring loop

pages =  str(range(1,1000))

start_time = time()
requests = 0

#for every page in the interval 1-4
urls = [url+str(x) for x in range(0,1000)]
for url in urls:

#make a get request
    response = get(url)

#pause the loop
    sleep(randint(2,3))

#Monitor the requests
    requests += 1
    elapsed_time = time() - start_time
    if requests > 100:
        warn('Number of requests was greater than expected.')
        break

    elif response.status_code != 200:
        warn('Request: {}; Frequency: {} requests/s'.format(requests, response.status_code))

    else:
        print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)

    page_html = BeautifulSoup(response.text, 'lxml')  

#root
    movie_containers = soup.find_all('div', class_= 'lister-item mode-advanced')

    #looping through containers
    for container in movie_containers:
        if container.find('div', class_ = 'ratings-metascore') is not None:

            #The name
            name = container.h3.a.text
            #print(name)
            names.append(name)

            #The Year
            year = container.find('span', class_ = 'lister-item-year').text
            #print(year)
            years.append(year)

            #IDMb rating             
            imdb = container.strong.text
            #print(imdb)
            imdb_ratings.append(imdb)

            #Metascore              
            metascore = container.find('span', class_= 'metascore').text
            #print(metascore)
            metascores.append(int(metascore))

            #Number of Votes
            vote = container.find('span', attrs = {'name':'nv'})['data-value'][0]
            #print(vote)
            votes.append(int(vote))
            
#             box_office = container.find('span', attrs ={'name':'nv'})['data-value'][1]
#             box_office.append(int(box_office))
    


#keeping track of data        
test_df= pd.DataFrame({'Movie': names,
                        'Year': years,
                        'IMDb': imdb_ratings,
                        'Metascore': metascores,
                        'Votes': votes,
                       'Box_Office': box_office
                      })
print(test_df.info())
test_df.to_csv("test.csv", sep=",", encoding="utf-8")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Movie         5000 non-null object
Year          5000 non-null object
IMDb          5000 non-null object
Metascore     5000 non-null int64
Votes         5000 non-null int64
Box_Office    5000 non-null object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB
None

/Users/stephaniekendall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: UserWarning: Number of requests was greater than expected.

In [ ]:
test_df

In [72]:
from requests import get
from bs4 import BeautifulSoup
import pandas as pd
from random import randint

#More advanced libraries
from time import sleep
from time import time
from IPython.core.display import clear_output
from warnings import warn

url = 'https://www.imdb.com/search/title/?groups=top_1000&groups=oscar_nominee'
response = get(url)

soup = BeautifulSoup(response.text, 'lxml')

#data lists to append

names           = []
years           = []
imdb_ratings    = []
metascores      = []
votes           = []
box_office      = [] 

#preparing the monitoring loop

pages =  str(range(1,1000))

start_time = time()
requests = 0

#for every page in the interval 1-4
urls = [url+str(x) for x in range(0,1000)]
for url in urls:

#make a get request
    response = get(url)

#pause the loop
    sleep(randint(2,3))

#Monitor the requests
    requests += 1
    elapsed_time = time() - start_time
    if requests > 100:
        warn('Number of requests was greater than expected.')
        break

    elif response.status_code != 200:
        warn('Request: {}; Frequency: {} requests/s'.format(requests, response.status_code))

    else:
        print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)

    page_html = BeautifulSoup(response.text, 'lxml')  

#root
    movie_containers = soup.find_all('div', class_= 'lister-item mode-advanced')

    #looping through containers
    for container in movie_containers:
        if container.find('div', class_ = 'ratings-metascore') is not None:

            #The name
            name = container.h3.a.text
            #print(name)
            names.append(name)

            #The Year
            year = container.find('span', class_ = 'lister-item-year').text
            #print(year)
            years.append(year)

            #IDMb rating             
            imdb = container.strong.text
            #print(imdb)
            imdb_ratings.append(imdb)

            #Metascore              
            metascore = container.find('span', class_= 'metascore').text
            #print(metascore)
            metascores.append(int(metascore))
            
            vote_gross_span = container.findAll('span', attrs = {'name':'nv'})
            
            #Number of Votes
            vote_span = vote_gross_span[0]
            #print(vote_span)
            vote = vote_span['data-value']
#             print(vote)
            votes.append(int(vote))

            gross_span = vote_gross_span[1]
            gross = gross_span['data-value']
            box_office.append(gross)
            
            
#             #Number of Votes
#             vote = container.find('span', attrs = {'name':'nv'})['data-value'][0]
#             #print(vote)
#             votes.append(int(vote))
            
#             box_office = container.find('span', attrs ={'name':'nv'})['data-value'][1]
#             box_office.append(int(box_office))
    


#keeping track of data        
test_df= pd.DataFrame({'Movie': names,
                        'Year': years,
                        'IMDb': imdb_ratings,
                        'Metascore': metascores,
                        'Votes': votes,
                       'Box_Office': box_office
                      })
print(test_df.info())
test_df.to_csv("test.csv", sep=",", encoding="utf-8")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Movie         5000 non-null object
Year          5000 non-null object
IMDb          5000 non-null object
Metascore     5000 non-null int64
Votes         5000 non-null int64
Box_Office    5000 non-null object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB
None

/Users/stephaniekendall/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:47: UserWarning: Number of requests was greater than expected.

In [73]:
test_df.head()

,Movie,Year,IMDb,Metascore,Votes,Box_Office
0,The Dark Knight,(2008),9.0,84,2126992,"534,858,444"
1,Terminator 2: Judgment Day,(1991),8.5,75,930447,"204,843,350"
2,The Shawshank Redemption,(1994),9.3,80,2154081,"28,341,469"
3,Gladiator,(2000),8.5,67,1243581,"187,705,427"
4,Get Out,(I) (2017),7.7,84,426706,"176,040,665"

In [84]:
del test_df['Year']

In [90]:
test_df['IMDb'] = test_df['IMDb'].astype(float)
test_df['Metascore'] = test_df['Metascore'].astype(float)

In [107]:
test_df['Box_Office']

test_df['Box_Office'].head()

0    534,858,444
1    204,843,350
2     28,341,469
3    187,705,427
4    176,040,665
Name: Box_Office, dtype: object

In [109]:
test_df.to_csv("test.csv", sep=',')

In [115]:
df1 = pd.read_csv('newtest.csv')
del df1['Unnamed: 0']

In [153]:
df3 = pd.read_csv('bestmovies.csv')
del df3['Unnamed: 0']
df3.head()

,Movie,Year,IMDb,Metascore,Votes,Grossprofit,Genre
0,Titanic,1997,7.8,75,"978,293.00","659,325,379.00",Drama
1,The Departed,2006,8.5,85,"1,101,272.00","132,384,315.00",Crime Drama Thriller
2,The Silence of the Lambs,1991,8.6,85,"1,166,416.00","130,742,922.00",Crime Drama Thriller
3,Forrest Gump,1994,8.8,82,"1,657,612.00","330,252,182.00",Drama Romance
4,Schindler's List,1993,8.9,94,"1,117,170.00","96,898,818.00",Biography Drama History

In [116]:
df1.head()

                        Movie  IMDb  Metascore    Votes      Box_Office
0             The Dark Knight   9.0         84  2126992  534,858,444.00
1  Terminator 2: Judgment Day   8.5         75   930447  204,843,350.00
2    The Shawshank Redemption   9.3         80  2154081   28,341,469.00
3                   Gladiator   8.5         67  1243581  187,705,427.00
4                     Get Out   7.7         84   426706  176,040,665.00

In [154]:
import mysql.connector 
from mysql.connector import errorcode
import config2
## Connecting to the database
## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
cnx = mysql.connector.connect(
    host = config2.host,
    user = config2.user,
    passwd = 'stephzoe'
)

In [ ]:
cursor = cnx.cursor()

db_name = 'Leonardo'
try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name####
    else:
        print(err)
        exit(1)

In [ ]:
TABLES = {}

TABLES['bigmoney'] = \
'''CREATE TABLE IF NOT EXISTS bigmoney (
      id int NOT NULL AUTO_INCREMENT PRIMARY KEY, 
      Movie varchar(200) NOT NULL, 
      IMDb int,
      Metascore int,
      Votes int,
      Box_Office int NOT NULL
)  ENGINE=INNODB;
'''

In [ ]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

Creating table bigmoney:

In [ ]:
# p = test_df.reindex(columns=['Movie', 'Year', 'IMDb', 'Metascore', 'Votes', 'Box_Office'])
subset = df1[['Movie', 'IMDb', 'Metascore', 'Votes', 'Box_Office']]
tuples = [tuple(x) for x in subset.values]

In [62]:
tuples[3]

('Gladiator', '(2000)', '8.5', 67, 1243563, '187,705,427')

In [159]:
addboxes = ("INSERT INTO Leonardo.bigmoney" 
               "(Movie, IMDb, Metascore, Votes, Box_Office)"
               "VALUES (%s, %s, %s, %s, %s)")
cursor.executemany(addboxes, tuples)
cnx.commit()

In [129]:
import matplotlib.pyplot as plt

In [142]:
df2 = df1.head(100)
df2.head()

                        Movie  IMDb  Metascore    Votes      Box_Office
0             The Dark Knight   9.0         84  2126992  534,858,444.00
1  Terminator 2: Judgment Day   8.5         75   930447  204,843,350.00
2    The Shawshank Redemption   9.3         80  2154081   28,341,469.00
3                   Gladiator   8.5         67  1243581  187,705,427.00
4                     Get Out   7.7         84   426706  176,040,665.00

In [151]:
# cursor = cnx.cursor(buffered=True, dictionary=True)

cursor.execute("""SELECT *
                      FROM Leonardo.bigmoney
                      ORDER BY Box_Office DESC;""")
bigmoney = pd.DataFrame(cursor.fetchall())
bigmoney.columns = [x[0] for x in cur.description]
bigmoney

InternalError: Unread result found